
html, body {
  font-size: 0.8vw;
}

.page-content {
  margin: 5% 0;
}

.card {
  margin-bottom: 10%;
}

.card-img-top {
  width: 100%;
  height: 100%;
}

.jumbotron-footer {
    background-color: #222222;
    color: white;
    margin-bottom: 0;
}

.get-started, .copy {
  background-color: black;
  color: white;
  padding:1%;
}

footer {
  margin-bottom: 0;
}

.admin-panel{
  background-color: #222222;
}

h2 a {
  display: inline;
}

.img-cont {
    max-width: 100%;
    max-height: 100%;
}

a {
  text-decoration: none;
  color: green;
}

.btn-inline {
  display: inline-block;
}


#home {
  background-image: url('/images/home2.jpg');
  background-repeat: no-repeat;
  height: 70vw;
border-bottom: none;
background-size: 115vw;

}

#testimonials {
  background-color: #ECEEEF;
  padding: 5% 0;
  margin-bottom: 0;
}

.stats {
  background-color: grey;
}

.notification {
  width: 30rem;
}

.btn-inline {
  display: inline-block;
}

.img-display {
  width: 20px;
  height: 20px;
}

/*
# Stripe js
*/

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        font-size: 0.5rem !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
 body {
        font-size: 1rem;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
